<div class="p-grid" >
    <div class="p-col"><a href="https://mamun.om/enterprise/" style="display:inline-block"> <img width="190px" alt="Vue logo" src="../assets/Mamun-Logo.e01e1b77.png"></a>
        <app-navbar style="float: right;"></app-navbar>
    </div>
</div>
<div style="margin-top: 50px;">
<div style="display: inline-block; width: 70%;">
    <router-outlet></router-outlet>
</div>
<div style="float: right;">
    <img src="../assets/Group140.95a60a89.png" alt="mamun group" style="margin-top: 70px;">
</div>
</div>
<!-- <button routerLink="manager">Manager Page</button>
<button routerLink="admin">Admin Page</button>
<button (click)="logout()">logout</button> -->
